## LOGIC BUILDING BASIC PROBLEMS

#Even or Odd

In [2]:
def isEven(n):
    if(n%2==0):
        return True
    else:
        return False
isEven(6)
# By Finding the Remainder - O(1) Time and O(1) Space
# We can check the remainder when divided by 2. If the remainder is 0, the number is even, otherwise it is odd.

True

In [ ]:
#Bit wise solution 
def isEven(n):
    if(n&1):
        return False
    else:
        return True
isEven(6)
'''[Efficient Approach] Using Bitwise AND Operator - O(1) Time and O(1) Space
The last bit of all odd numbers is always 1, while for even numbers it’s 0. 
So, when performing bitwise AND operation with 1, odd numbers give 1, and even numbers give 0.
Note: Bitwise operators are extremely fast and efficient because they operate directly at the binary level, 
making them significantly faster than arithmetic or logical operations.
15  ->               1 1 1 1
                  &  0 0 0 1
                     -------
                     0 0 0 1 , so this we can say it is an odd number.

44 ->        1 0 1 1 0 0
          &  0 0 0 0 0 1
              ----------
             0 0 0 0 0 0 , so this we can say it is an even number.'''

True

#Multiplication Table

In [ ]:
#Loop approach - while loop
def multiplicationTable(n):
    i=0
    while i<=10:
        print(f'{n} * {i} = {n*i}')
        i=i+1
multiplicationTable(2)
# Time Complexity - O(1)
# Space Complexity - O(1)

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [7]:
#for loop
def multiplicationTable(n):
    for i in range(1,11):
        print(f'{n}*{i}={n*i}')
multiplicationTable(6)

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [ ]:
#using recursion based approach
# printTable() prints table of number and takes
# 1 required value that is number of whose teble to be printed
# and an optional input i whose default value is 1
def printTable(n,i=1):
    if i==11:
        return
    print(f'{n}*{i}={n*i}')
    i+=1
    printTable(n,i)

if __name__ == "__main__":
  n = 5
  printTable(5)

# Time Complexity - O(1)
# Space Complexity - O(1)

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

#Sum of natural numbers

In [6]:
def sumofNaturalNumbers(n):
    result=0
    for i in range(n+1):
        result+=i
    return result
if __name__=='__main__':
    sumofNaturalNumbers(3)

#[Naive Approach] Using Loop - O(n) Time and O(1) Space
# Calculate the sum of all integers from 1 to n by iterating through a loop.

In [ ]:
def sumofNaturalNumbers(n):
    if n==1:
        return 1
    return n+sumofNaturalNumbers(n-1)

if __name__=='__main__':
    print(sumofNaturalNumbers(3))

#[Alternative Approach] Using Recursion -O(n) and O(n) Space
'''In this approach, we use recursion to find the sum of the first n natural numbers. 
The function calls itself with (n-1) until it reaches the base case of n = 1. 
Each call adds the current value of n to the sum of smaller values, effectively building the result in a top-down manner'''

6

In [ ]:
def sumofNaturalNumbers(n):
    return n*(n+1)//2
sumofNaturalNumbers(3)
   # Using mathematical formula to compute
    # sum of first n natural numbers
'''We can prove this formula using induction.
It is true for n = 1 and n = 2
For n = 1, sum = 1 * (1 + 1)/2 = 1
For n = 4, sum = 4* (4 + 1)/2 = 10
Let it be true for k = n-1.
Sum of k numbers = (k * (k+1))/2
Putting k = n-1, we get
Sum of k numbers = ((n-1) * (n-1+1))/2
                 = (n - 1) * n / 2
If we add n, we get,
Sum of n numbers = n + (n - 1) * n / 2
                 = (2n + n2 - n)/2
                 = n * (n + 1)/2'''

6

#Sum of squares of first n natural numbers

In [ ]:
def ssfnnn(n):
    result=0
    for i in range(n+1):
        result+=i**2
    return result
ssfnnn(4)
# Adding One By One - O(n) Time and O(1) Space
# The idea for this naive approach is to run a loop from 1 to n and sum up all the squares.

30

In [ ]:
def ssfnnn(n):
    return (n*(n+1)*((2*n)+1))//6
ssfnnn(4)
'''[Expected Approach]- Using Mathematical Formulae - O(1) Time and O(1) Space
The idea for this approach is to use the mathematical formulae for the sum of squares of first n natural numbers. 

12 + 22 + ......... + n2 = n(n+1)(2n+1) / 6'''

30

#Swap Two Numbers

In [ ]:
def swapTwoNumbers(a,b):
    temp=a
    a=b
    b=temp
    print(a,b)

swapTwoNumbers(3,5)
# [Naive Approach] Using Third Variable
# Time Complexity: O(1)
# Auxiliary Space: O(1)

5 3

In [ ]:
def swapTwoNumbers(a,b):
    a=a+b
    b=a-b
    a=a-b
    print(a,b)
swapTwoNumbers(3,5)
# Using arithmetic operations w/o using third variable.
# Time Complexity: O(1)
# Auxiliary Space: O(1)

5 3

In [ ]:
def swapTwoNumbers(a,b):
    a=a^b
    b=a^b
    a=a^b
    print(a,b)
swapTwoNumbers(3,5)

'''Using Bitwise XOR
The idea is to use the properties of XOR to swap the two variables.

a = a ^ b: Store the Bitwise XOR of a and b in a. Now, a holds the result of (a ^ b).
b = a ^ b: Bitwise XOR the new value of a with b to get the original value of a. This gives us, b = (a ^ b) ^ b = a.
a = a ^ b: Bitwise XOR the new value of a with the new value of b (which is the original a) to get the original value of b. This gives us, a = (a ^ b) ^ a = b.
Finally, a and b hold the swapped values.'''
# Time Complexity: O(1)
# Auxiliary Space: O(1)

5 3

In [ ]:
def swapTwoNumbers(a,b):
    a,b=b,a
    print(a,b)
swapTwoNumbers(3,5)
#Tuple unpacking!
# Time Complexity: O(1)
# Auxiliary Space: O(1)

5 3

Find Closest to n and Divisible by m
Given two integers n and m (m != 0). Find the number closest to n and divisible by m. If there is more than one such number, then output the one having maximum absolute value.

Examples: 

Input: n = 13, m = 4
Output: 12
Explanation: 12 is the closest to 13, divisible by 4.

Input: n = -15, m = 6
Output: -18
Explanation: Both -12 and -18 are closest to -15, but -18 has the maximum absolute value.

In [ ]:
def closestnumber(n,m):
    q=n//m #floor division
    m1=m*q
    if(n*m)>0:
        m2=m*(q+1)
    else:
        m2=m*(q-1)
    if abs(n-m1)<abs(n-m2):
        return m1
    else:
        return m2
closestnumber(13,4)
'''[Expected Approach] By finding Quotient - O(1) Time and O(1) Space
We first compute the quotient q = n / m, then calculate two candidates:
n1 = m * q
This is the closest multiple of m that is less than or equal to n.
n2 = m * (q + 1) or m * (q - 1)
 We choose q + 1 or q - 1 based on the signs of n and m:
If n and m have the same sign, use n2 = m * (q + 1)
 This moves in the direction toward n, getting the next closest multiple above n.
If n and m have opposite signs, use n2 = m * (q - 1)
 This accounts for the fact that increasing q would move away from n due to the sign flip, 
 so we instead go backward to get the next closest multiple.
Then we return the one (n1 or n2) that has the smaller absolute difference from n.
If both have the same distance from n, return the one with the greater absolute value, as required.'''

12

The dice problem
Last Updated : 16 Jul, 2025
You are given a cubic dice with 6 faces. All the individual faces have a number printed on them. The numbers are in the range of 1 to 6, like any ordinary dice. You will be provided with a face of this cube, your task is to guess the number on the opposite face of the cube.

Examples:

Input: n = 2
Output: 5
Explanation: For dice facing number 5 opposite face will have the number 2.

Input: n = 6
Output: 1
Explanation: For dice facing number 6 opposite face will have the number 1.

In [23]:
def oppositeFaceOfDice(n):
    if n == 1:
        return 6
    elif n == 2:
        return 5
    elif n == 3:
        return 4
    elif n == 4:
        return 3
    elif n == 5:
        return 2
    else:
        return 1

n = 2
print(oppositeFaceOfDice(n))
# Time Complexity: O(1)
# Auxiliary Space: O(1)

5

In [26]:
#oppostide sides of a dice = (1,6) (2,5) (3,4)
#  Using Sum of Two Sides
# The idea is based on the observation that the sum of two opposite sides of a cubical dice is equal to 7.
#  So, just subtract the given n from 7 and print the answer
def oppositeFaceOfDice(n):
    result=7-n
    return result
print(oppositeFaceOfDice(5))

2

Nth term of AP from First Two Terms

Given two integers a1 and a2, the first and second terms of an Arithmetic Series respectively, the problem is to find the nth term of the series. 
Examples :

Input : a1 = 2,  a2 = 3,  n = 4
Output : 5
Explanation : The series is 2, 3, 4, 5, 6, ....   , thus the 4th term is 5. 

Input : a1 = 1, a2 = 3, n = 10
Output : 19
Explanation:  The series is: 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21..... Thus,10th term is 19.

In [30]:
def nthTermofAP(a1,a2,n):
    nthTerm=a1
    d=a2-a1
    for i in range(1,n+1):
        nthTerm+=d
    return nthTerm
nthTermofAP(2,3,4)
# Time Complexity - O(n)
# Auxiliary Space - O(1)

6

In [35]:
'''Using the Formula for nth Term
To find the nth term in the Arithmetic Progression series we use the simple formula . 

We know the Arithmetic Progression series is like =  2, 3, 4, 5, 6. …. … 
In this series 2 is the first term and 3 is the second term of the series . 
Common difference = a2 - a1 =  3 – 2 = 1 (Difference common in the series). 
so we can write the series as :
t1 = a1 
t2 = a1 + (2-1) * d 
t3 = a1 + (3-1) * d 
. 
. 
. 
tN = a1 + (n-1) * d 

tN = a1 + (n-1) * (a2-a1) '''

def nthTermofAP(a1,a2,n):
    return a1+(n-1)*(a2-a1)
print(nthTermofAP(2,3,4))
# Time Complexity - O(1)
# Auxiliary Space - O(1)

5